:root {
  height: 100%;
  background: linear-gradient(120deg, red 0%, white 100%);
}

body {
  background-color: #ffd7d7;
  padding: 100px 150px 100px;
  margin: 100px 200px 100px;
  border: 10px dashed white;
  border-radius: 100px;
}

